
<!-- Style à couper et mettre dans un fichier css séparé -->

/* style du bloc ul */
.liste-catgproduit {
  width: 100px; /* optionnel, c'est pour la démo */
  list-style: none; /* supprime les puces de liste */
  padding: 4px; /* on fait un peu de place autour des liens */
  margin: 0; /* on annule les marges */
  background: #F2F2F2;
}
 
/* styles des liens et éléments de liste */
.mv-item,
.mv-item a {
  /* les liens et item deviennent des blocs */
  /* suffit théoriquement à virer les puces de liste */
  display: block;
   
}
 
/* styles des liens */
.mv-item a {
    font-size: 1.5em;
  margin: 0px 0; /* espace les liens d'1 px */
  padding: 2px 2px; /* marges internes pour aérer */ 
  color: #666;
  background: #FFF;
  text-decoration: none; /* on vire le soulignement */

  /* on définit la transition pour les navigateurs */
  -webkit-transition: all .3s; /* Chrome/Safari */
  -moz-transition: all .3s; /* Firefox (plus trop nécessaire) */
  transition: all .3s; /* syntaxe officielle */
}
 
/* styles changeants au survol et focus */
.mv-item a:hover,
.mv-item a:focus {
  background: #1ABC9C;
  color: #FFF;
  padding-left: 30px; /* décalage du contenu de 10px vers la droite (30-20 = 10) */
    font-size: 3;
}

.bloc_prestation{
    margin-top: 150;
border-width: 2px;
        border-style:solid  ;
    border-color: #C7C7C7;
 
    
    height: 600px;
	width:450px;
	box-shadow:2px 2px 2px #C7C7C7;
	margin-top:50px;
	margin-left:0px;
}







